*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin
/lib
/classes
/.idea
/target
doc/api/resources/background.gif
doc/api/resources/tab.gif
doc/api/resources/titlebar.gif
doc/api/resources/titlebar_end.gif